extends index

block content
    .help-content
      .side-bar
        a.bar2(href='join') Join The Movie Database
        a.bar2(href='help') Reset Password
      h2.help-header Reset Password
      .join-divider-bar
        hr
      .join-form
        form(type='submit' method='POST' action='/reset')
          p
            label(for='password') New Password: &zwnj; &zwnj; 
            input#email(type='password' name='password')
            br
            br
          p
            input#email(type='hidden' name='id' value=url)
            br
            br
          button(style="position: relative; top: -20px;") Update Password
        br

